annotated-doc==0.0.4 ; python_version >= "3.12" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.12.1 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.14.3 ; python_version >= "3.12" and python_version < "4.0"
certifi==2026.2.25 ; python_version >= "3.12" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
dnspython==2.8.0 ; python_version >= "3.12" and python_version < "4.0"
email-validator==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi-cli[standard]==0.0.24 ; python_version >= "3.12" and python_version < "4.0"
fastapi-cloud-cli==0.15.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi[standard]==0.135.1 ; python_version >= "3.12" and python_version < "4.0"
fastar==0.9.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.12" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "4.0"
httptools==0.7.1 ; python_version >= "3.12" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4.0"
idna==3.11 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0"
lxml==6.0.2 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==4.0.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "4.0"
pydantic-extra-types==2.11.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic-settings==2.13.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.12.5 ; python_version >= "3.12" and python_version < "4.0"
pydantic[email]==2.12.5 ; python_version >= "3.12" and python_version <= "3.13" or python_version >= "3.14" and python_version < "4.0"
pygments==2.19.2 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
python-multipart==0.0.22 ; python_version >= "3.12" and python_version < "4.0"
pytz==2026.1.post1 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0"
rich-toolkit==0.19.7 ; python_version >= "3.12" and python_version < "4.0"
rich==14.3.3 ; python_version >= "3.12" and python_version < "4.0"
rignore==0.7.6 ; python_version >= "3.12" and python_version < "4.0"
sentry-sdk==2.55.0 ; python_version >= "3.12" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
soupsieve==2.8.3 ; python_version >= "3.12" and python_version < "4.0"
starlette==0.52.1 ; python_version >= "3.12" and python_version < "4.0"
typer==0.24.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "4.0"
uvicorn[standard]==0.42.0 ; python_version >= "3.12" and python_version < "4.0"
uvloop==0.22.1 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.12" and python_version < "4.0"
watchfiles==1.1.1 ; python_version >= "3.12" and python_version < "4.0"
websockets==16.0 ; python_version >= "3.12" and python_version < "4.0"
